body{
    background-color: rgb(227, 231, 235);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(41, 41, 46);
}


#container{
    margin: 100px;
    
   
  width: 50%;
    background-color: white;
    
    padding: 50px;
    position: relative;

   box-shadow: 4px 5px 40px rgba(110, 110, 110, 0.411);
   border-radius: 10px;
   

}

.row{
    display: block;
    margin: 20px;

}

#colorBox{
    display: inline-block;
    background-color: tomato;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid rgb(223, 223, 223);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


#rgbval{
   
    background-color: rgba(255, 255, 255, 0.541);
    font-size: small;
    border-radius: 3px;
    padding: 10px;
}



.button{
    background-color: rgb(41, 41, 46);
    
    text-align: center;
    color: white;
    width: 30%;
   font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 20px;
    
}

a{
    text-decoration: none;
    color: unset;
}

.padding{
    padding: 10px 0px 40px 0px;
}

@media only screen and (max-width: 600px) {
    
    #container {
        margin: 5%;
      background-color: white;
      box-shadow: none;
      float: none;
      
    }

    .row{
        margin: 0ch;
    }

    .button{
        
        float: none;
        
    }
  }